[submodule "thirdParty/glfw"]
	path = thirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdParty/Vulkan-Headers"]
	path = thirdParty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "thirdParty/glm"]
	path = thirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdParty/VulkanMemoryAllocator"]
	path = thirdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
